firebaseAuthDomain=
firebaseApiKey=
firebaseProjectId=
firebaseMessagingSenderId=
firebaseAppId=
firebaseMeasurementId=

firebaseStorageBucket=

// https://www.invertexto.com/texto-criptografado
// DuOoUPxVuTtGTn0sqtzdMHIpxkw6FUr6KLyh-sidxlVyDtW7UBH81VJg-9zZqs-QekpruPnu-jIFtrN9joORRHzMqdumJn7KLtf4ZolLn27nsGbSp4zFO3x6Yi9e6CexxgG0za7mNyDzBXTYjuNfvJ-n3L-wf6Apka9NrhhFGv_yYsPpiwMMsjXv2_TwSyE6kQmpus7H7gPi4BKqg8z1qce-ve49xpJ8xdx9--ubMVJBcKwzv1YaxfonmjnqiS5BHovHjIuBIfxkGt01Gmdt0JzXtgB0LNBq0aY4GJKdebQwnqGdzwDejCj6KTTeAQs6bGRNAse5uPGG8OcOcXNc8udFrehWfJ7F0uWmWjn3Ce4vvDJyY6ed63wG_VJ2Skz_4WJTeXTizQMLusqQwFCj8K3dEhbYTChPKN0ZYZNpr-R82lW3lVGQn_OyQjs5oLlu
